# ns-and-path-to-file /,../../src/cnr_param/test/drape_cell_configurations.yaml
# ns-and-path-to-file /,../../src/cnr_param/test/ft_hw.yaml
# ns-and-path-to-file /ns1,../../src/cnr_param/test/drape_cell_configurations.yaml
# ns-and-path-to-file /ns1,../../src/cnr_param/test/ft_hw.yaml
# ns-and-path-to-file /ns2,../../src/cnr_param/test/drape_cell_configurations.yaml
# ns-and-path-to-file /ns2,../../src/cnr_param/test/ft_hw.yaml
# ns-and-path-to-file /ns1/ns2,../../src/cnr_param/test/drape_cell_configurations.yaml
# ns-and-path-to-file /ns1/ns2,../../src/cnr_param/test/ft_hw.yaml


# TO USE THE "cnr_param_server"
# cnr_param_server --config file-name

ns-and-path-to-file /,../test/mqtt_config.yaml
ns-and-path-to-file /,../test/drape_cell_hw.yaml
ns-and-path-to-file /ns1,../test/drape_cell_hw.yaml
ns-and-path-to-file /ns2,../test/drape_cell_hw.yaml
ns-and-path-to-file /ns1/ns2,../test/drape_cell_hw.yaml
ns-and-path-to-file /,../test/par.yaml
