# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.txt.user*
*.orig*
*.autosave*

build/
Testing/
.cache/
.vscode/

compile_commands.json

include/cnr_param/config.h
cnr_param/include/cnr_param/config.h
cmake/cnr_param-compile-options.cmake

*.code-workspace
